<div class="eForms" data-ng-controller="enrollmentFormController" >
  <div class="page-header">
    <h1 class="text-center">Initial Health Assessment</h1>
  </div>

  <div class="editButton">
    <button ng-click="editForm()" class="btn btn-primary" type="button">Edit</button>
  </div>

  <div class="col-md-12 kglb">
      <div class="col-md-2">
        Preferred Unit:
      </div>
      <label class="radio-inline col-md-1">
          <input type="radio" name="kgOrlb" data-ng-model="practiceInfo.preferredUnit" value="kg">kg
      </label>
      <label class="radio-inline col-md-1">
          <input type="radio" name="kgOrlb" data-ng-model="practiceInfo.preferredUnit" value="lb">lb
      </label>
  </div>

  <form data-ng-submit="createEnrollmentForm()" name="myForm" class="form-horizontal col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <label for="petName">Pet First Name</label>
      <input data-ng-model="firstName" type="text" class="form-control" name="petName" id="petName" placeholder="Pet Name" ng-disabled="disableInput" required>
      <span class="alert alert-danger alertMessage" ng-show="myForm.petName.$error.required  && myForm.petName.$dirty">Pet name is required!</span>
    </div>

    <div class="form-group">
      <label for="patientID">Patient ID</label>
      <input data-ng-model="patientId" type="text" class="form-control" name="patientID" id="patientID" placeholder="Patient ID" ng-disabled="disableInput" required>
      <span class="alert alert-danger alertMessage" ng-show="myForm.patientID.$error.required  && myForm.patientID.$dirty">Patient ID is required!</span>
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input data-ng-model="dateCreated" type="date" class="form-control" id="date" ng-disabled="disableInput">
    </div>

    <h3 class="text-center">Signalment</h3>

    <div class="form-group">
      <label for="dob">DOB</label>
      <input data-ng-model="birthDate" type="date" class="form-control" id="dob" ng-disabled="disableInput">
      <label for="age">Age:</label>
      <span>{{patientInfo.age()}}</span>
    </div>

    <div class="form-group text-center">
      <div class="col-md-6 columns">
        <label>Sex</label> <br/>
        <label data-ng-model="sex" class="radio-inline"><input type="radio" name="sex" value="M" ng-disabled="disableInput">Male</label>
        <label data-ng-model="sex" class="radio-inline"><input type="radio" name="sex" value="F" ng-disabled="disableInput">Female</label>
      </div>

      <div class="col-md-6 columns">
        <label>Castrated?</label> <br/>
        <label class="radio-inline"><input data-ng-model="fixed" type="radio" name="castrated" value="true" ng-disabled="disableInput">Castrated</label>
        <label class="radio-inline"><input data-ng-model="fixed" type="radio" name="castrated" value="false" ng-disabled="disableInput">Intact</label>
      </div>
    </div>

    <div class="form-group">
      <label for="breed">Breed</label>
      <input data-ng-model="breed" type="text" class="form-control" name="breed" id="breed" placeholder="Breed" data-ng-model="patientInfo.breed" ng-disabled="disableInput" required>
      <span class="alert alert-danger alertMessage" ng-show="myForm.breed.$error.required  && myForm.breed.$dirty">Breed is required!</span>
    </div>

    <h3 class="text-center">Current Food</h3>

    <!-- food not linked to anything yet -->
    <div class="form-group">
      <label for="brand">Brand</label>
      <input type="text" class="form-control" name="brand" id="brand" placeholder="Brand" data-ng-model="patientInfo.foodBrand" ng-disabled="disableInput" required>
      <span class="alert alert-danger alertMessage" ng-show="myForm.brand.$error.required  && myForm.brand.$dirty">Brand is required!</span>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="col-md-2" for="foodAmount">Amount: </label>
        <input class="col-md-3 col-xs-8 col-md-offset-1 col-xs-offset-1" type="number" step="any" id="foodAmount" min="1" max="10" data-ng-model="patientInfo.cups" ng-disabled="disableInput">
        <span class="pull-left">&nbsp;&nbsp;cup(s)</span>
        <input class="col-md-3 col-xs-8 col-md-offset-1 col-xs-offset-1" type="number" step="1" min="1" max="10" data-ng-model="patientInfo.perDay" ng-disabled="disableInput">
        <span class="pull-left">&nbsp;&nbsp;x day</span>
      </div>
    </div>

    <div class="form-group">
      <label for="dailyTreats">List treats (with brands if known) and typical table scraps given daily:</label>
      <textarea data-ng-model="treats" class="form-control" id="dailyTreats" rows="2" ng-disabled="disableInput"></textarea>
    </div>

    <h3 class="text-center">Medical Background</h3>

    <div class="form-group">
      <label for="currentMedications">Current Medications/Supplements:</label>
      <textarea data-ng-model="currentMedications" class="form-control" id="currentMedications" rows="2" ng-disabled="disableInput"></textarea>
    </div>

    <div class="form-group">
      <label for="significantMedicalHistory">Significant Medical History:</label>
      <textarea data-ng-model="medicalHistory" class="form-control" id="significantMedicalHistory" rows="2" ng-disabled="disableInput"></textarea>
    </div>

    <div class="form-group">
      <label for="significantPEFindings">Today's Significant PE Findings:</label>
      <textarea data-ng-model="peFindings" class="form-control" id="significantPEFindings" rows="2" ng-disabled="disableInput"></textarea>
    </div>

    <!-- approval not linked to anything yet -->
    <div class="form-group">
      <label for="eligibleDog">Veterinarian, please review inclusion and exclusion criteria. Is this dog eligible to proceed with Trimauxil treatment?</label>
      <label class="radio-inline"><input type="radio" id="eligibleDog" name="patientProceed" data-ng-model="vetApproval.continueWithTrimauxil" value="Y" ng-disabled="disableInput">Yes</label>
      <label class="radio-inline"><input type="radio" id="eligibleDog" name="patientProceed" data-ng-model="vetApproval.continueWithTrimauxil" value="N" ng-disabled="disableInput">No</label>
    </div>

    <div class="form-group">
      <label for="vetSignature">Veterinarian Signature</label>
      <input type="text" class="form-control" id="vetSignature" placeholder="Signature" data-ng-model="vetApproval.vetSignature" ng-disabled="disableInput">
    </div>

    <h3 class="text-center">Results</h3>

     <div class="form-group">
        <label class="col-md-4 col-xs-7" for="currentWeight">Today's Weight ({{practiceInfo.preferredUnit}}): </label>
        <input data-ng-model="startWeight" class="col-md-2 col-xs-5" type="number" step="any" id="currentWeight" min="0" max="300" ng-disabled="disableInput">
        <label class="col-md-4 col-xs-7" for="BCS">BCS (1-9)*: </label>
        <input data-ng-model="bcs" class="col-md-2 col-xs-5" type="number" step="1" id="BCS" min="1" max="9" ng-disabled="disableInput">
    </div>

    <div class="form-group">
        <label class="col-md-4 col-xs-9">Ideal Weight ({{practiceInfo.preferredUnit}}): </label>
        <span class="col-md-2 col-xs-3">{{patientInfo.idealWeight()}}</span>
        <label class="col-md-4 col-xs-9">Cups per Feeding: </label>
        <span class="col-md-2 col-xs-3">{{patientInfo.cupsPerFeeding()}}</span>
    </div>

    <!-- AT approval not linked to anything yet -->
    <div class="form-group">
      <label class="col-md-2" for="technician">Technician: </label>
      <input data-ng-model="techId" class="col-md-2" type="text" id="technician" ng-disabled="disableInput">
      <label class="col-md-2" for="veterinarian">Veterinarian: </label>
      <input data-ng-model="vetId" class="col-md-2" type="text" id="veterinarian" ng-disabled="disableInput">
      <label class="col-md-2" for="reviewedBy">Reviewed By (AT Use Only):</label>
      <input class="col-md-2" type="text" id="reviewedBy" data-ng-model="finalApproval.reviewer" ng-disabled="disableInput">
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
