<div class="eForms" data-ng-controller="exitFormController">
  <div class="page-header">
    <h1 class="text-center">Exit Form</h1>
  </div>

  <div class="col-md-12 kglb">
    <div class="col-md-2">
      Preferred Unit:
    </div>
    <label class="radio-inline col-md-1">
        <input type="radio" name="kgOrlb" data-ng-model="practiceInfo.preferredUnit" value="kg">kg
    </label>
    <label class="radio-inline col-md-1">
        <input type="radio" name="kgOrlb" data-ng-model="practiceInfo.preferredUnit" value="lb">lb
    </label>
  </div>

  <form data-ng-submit="createExitForm()" name="myForm" class="form-horizontal col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <label for="date">Ending Date</label>
      <input type="date" class="form-control" id="date" ng-model="endingDate" required>
    </div>

    <div class="form-group">
      <label>Reason for ending program</label>

      <div class="col-md-12">
        <label class="radio-inline col-md-3">
            <input type="radio" name="endingReason" data-ng-model="endingReason" value="Reached ideal weight">Reached ideal weight
        </label>
        <label class="radio-inline col-md-4">
            <input type="radio" name="endingReason" data-ng-model="endingReason" value="Switching vet practice">Switching Vet Practice
        </label>
        <label class="radio-inline col-md-4">
          <input type="radio" name="endingReason" data-ng-model="patientInfo.endingReason" value="Reached exclusion criteria">Reached exclusion criteria
        </label>
      </div>

      <div class="col-md-12">
        <label class="radio-inline col-md-1 pull-left">
          <input type="radio" name="endingReason" data-ng-model="patientInfo.endingReason" value="Other">Other
        </label>
        <div class="col-md-7 col-xs-8 pull-left">
            <input class="radio-inline form-control" type="text" id="reasonForEnding" placeholder="Reason" data-ng-model="patientInfo.endingReasonOther">
        </div>
      </div>

    </div>

    <h3 class="text-center">Results</h3>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 columns">
          <label class="col-md-3">Start Weight ({{practiceInfo.preferredUnit}}): </label>
          <div class="col-md-3">
              <span>{{patientInfo.startWeight()}}</span>
          </div>

          <label class="col-md-3" for="finalWeight">Final Weight ({{practiceInfo.preferredUnit}}): </label>
          <div class="col-md-3">
              <input class="form-control" type="number" step="any" name="finalWeight" id="finalWeight" min="0" max="300" data-ng-model="finalWeight" required>
          </div>
          <span class="alert alert-danger alertMessageExit" ng-show="myForm.finalWeight.$error.required  && myForm.finalWeight.$dirty">Final weight is required!</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 columns">
          <label class="col-md-4">Weight Loss Total ({{practiceInfo.preferredUnit}}): </label>
          <span class="col-md-2">{{patientInfo.weightLossTotal()}}</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 columns">
          <label class="col-md-3" for="startBCS">Start BCS: </label>
          <div class="col-md-3">
              <span>{{patientInfo.startBCS}}</span>
          </div>
          <label class="col-md-3" for="finalBCS">Final BCS: </label>
          <div class="col-md-3">
              <input class="form-control" type="number" step="1" name="finalBCS" id="finalBCS" min="1" max="9" data-ng-model="finalBCS" required>
          </div>
          <span class="alert alert-danger alertMessageExit" ng-show="myForm.finalBCS.$error.required  && myForm.finalBCS.$dirty">Final BCS is required!</span>
        </div>
      </div>
    </div>

    <h3 class="text-center">Maintenance Diet Instructions</h3>

    <div class="form-group">
      <label for="brand">Brand</label>
      <input type="text" class="form-control" name="brand" id="brand" placeholder="Brand" data-ng-model="patientInfo.foodBrand" required>
      <span class="alert alert-danger alertMessage" ng-show="myForm.brand.$error.required  && myForm.brand.$dirty">Brand is required!</span>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="col-md-2 col-xs-10" for="foodAmount">Amount: </label>
        <input class="col-md-3 col-xs-8 col-md-offset-1 col-xs-offset-1" type="number" step="any" name="foodAmount" id="foodAmount" min="1" max="10"  data-ng-model="patientInfo.cups" required>
        <span class="pull-left">&nbsp;&nbsp;cup(s)</span>
        <input class="col-md-3 col-xs-8 col-md-offset-1 col-xs-offset-1" type="number" name="perDay" step="1" min="1" max="10" data-ng-model="patientInfo.perDay" required>
        <span class="pull-left">&nbsp;&nbsp;x day</span>
      </div>
      <span class="alert alert-danger alertMessage" ng-show="myForm.foodAmount.$error.required  && myForm.foodAmount.$dirty">Food amount is required!</span>
      <span class="alert alert-danger alertMessageExit" ng-show="myForm.perDay.$error.required  && myForm.perDay.$dirty">Per day is required!</span>
    </div>

    <h3 class="text-center">Questions for Pet Owner</h3>

    <div class="form-group">
      <label for="personName">Name of person completing questions</label>
      <input type="text" class="form-control" id="personName" placeholder="Name" data-ng-model="ownerQuestions.name">
    </div>

     <div class="form-group">
      <label>1. How easy was it to administer the Trimauxil Treatment Program to your dog?</label>
      <div class="col-md-12 columns">
        <label class="radio-inline col-md-offset-1"><input type="radio" name="q1" data-ng-model="ownerQuestions.easyToAdminister" value="Very challenging">Very challenging</label>
        <label class="radio-inline"><input type="radio" name="q1" data-ng-model="ownerQuestions.easyToAdminister" value="Somewhat challenging">Somewhat challenging</label>
        <label class="radio-inline"><input type="radio" name="q1" data-ng-model="ownerQuestions.easyToAdminister" value="Somewhat easy">Somewhat easy</label>
        <label class="radio-inline"><input type="radio" name="q1" data-ng-model="ownerQuestions.easyToAdminister" value="Easy">Easy</label>
      </div>
    </div>

    <div class="form-group">
      <label>2. How easily did your dog adjust to the addition of Trimauxil to their diet?</label>
      <div class="col-md-12 columns">
        <label class="radio-inline col-md-offset-3"><input type="radio" name="q2" data-ng-model="ownerQuestions.easyAdjustment" value="Never adjusted">Never adjusted</label>
        <label class="radio-inline"><input type="radio" name="q2" data-ng-model="ownerQuestions.easyAdjustment" value="Took a couple of weeks">Took a couple of weeks</label>
      </div>

      <div class="col-md-12 columns">
        <label class="radio-inline col-md-offset-3"><input type="radio" name="q2" data-ng-model="ownerQuestions.easyAdjustment" value="After a few days">After a few days</label>
        <label class="radio-inline"><input type="radio" name="q2" data-ng-model="ownerQuestions.easyAdjustment" value="Seemed comfortable immediately">Seemed comfortable immediately</label>
      </div>
    </div>

    <div class="form-group">
      <label>3. Do you think the Trimauxil Program had/will have a positive impact on your dog&#8217;s life and health?</label>
      <div class="col-md-12 columns">
        <label class="radio-inline col-md-offset-5"><input type="radio" name="q3" data-ng-model="ownerQuestions.positiveImpact" value="Y">Yes</label>
        <label class="radio-inline"><input type="radio" name="q3" data-ng-model="ownerQuestions.positiveImpact" value="N">No</label>
      </div>
    </div>

    <div class="form-group">
      <label for="ownerComments">Pet Owner comments or recommendations to the manufacturer of Trimauxil</label>
      <textarea class="form-control" id="ownerComments" rows="2" data-ng-model="ownerQuestions.ownerComments"></textarea>
    </div>

    <div class="form-group">
      <label class="col-md-2" for="technician">Tech Id: </label>
      <input class="col-md-2" type="text" id="technician" data-ng-model="techId">
      <label class="col-md-2" for="veterinarian">Vet Id: </label>
      <input class="col-md-2" type="text" id="veterinarian" data-ng-model="vetId">
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-default">Save</button>
    </div>

  </form>
</div>
