<div  ng-controller="progressFormsController" class="pForms" data-ng-init="initPatient()">
    <!-- Information about selected patient -->
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-info">[{{activePatient.patientId}}] Visit Form</h1>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h5>Client: {{activePatient.petOwner.lastName}}, {{activePatient.petOwner.firstName}}</h5>
            <h5>Phone: {{activePatient.petOwner.phoneNumber}}</h5>
        </div>
        <div class="col-xs-12 pull-right col-sm-4 col-md-3">
            <h5>Initial Weight: {{activePatient.startWeight}} kg ({{kgToLb(activePatient.startWeight)}} lbs)</h5>
            <h5>Ideal Weight: {{getIdealWeight()}} lbs</h5>
        </div>
    </div>
    <hr/>
    <accordion close-others="oneAtTime">
        <!--ADD NEW FORMS-->
        <accordion-group>
            <accordion-heading>
                <div class="row">
                    <div class="col-xs-12">
                        Add New Form<i class="pull-right glyphicon-plus"></i>
                    </div>
                </div>
            </accordion-heading>
            <accordion-body>
                <!-- Print Message. Only one visit form can be submitted per day -->
                <div data-ng-show="todayFormSubmitFlag">
                    <p class="lead text-center text-danger">Only one visit form can be submitted per day</p>
                </div>
                <div data-ng-show="!todayFormSubmitFlag">
                    <form data-ng-submit="createProgressForm()" class="form-horizontal">
                        <!-- Actual form-->
                        <div class="row">
                            <div class="col-sm-7">
                                <!-- Today's Weight -->
                                <div class="row form-inline">
                                    <label class="col-sm-4 control-label">Today's Weight</label>
                                    <div class="col-xs-6 col-sm-3 input-group">
                                        <input data-ng-model="weight.lb" data-ng-change="weight.kg = lbToKg(weight.lb)" class="form-control" id="focusedInput" type="text" placeholder="Enter weight"><em class="input-group-addon">lb</em>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-sm-offset-1 input-group">
                                       <input data-ng-model="weight.kg" data-ng-change="weight.lb = kgToLb(weight.kg)" class="form-control" id="focusedInput" type="text" placeholder="Enter weight" required><em class="input-group-addon">kg</em>
                                    </div>
                                </div>
                                <!-- Last Weight -->
                                <div class="row form-inline">
                                    <label class="col-sm-4 control-label">Last Weight</label>
                                    <div class="col-sm-4">
                                        <span class="static-data">{{kgToLb(getLastWeight(-1))}} <em>lb</em></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="static-data">{{getLastWeight(-1) | number:2}} <em>kg</em></span>
                                    </div>
                                </div>
                                <!-- Today Weight Loss -->
                                <div class="row form-inline">
                                    <label class="col-sm-4 control-label">Today Weight Loss</label>
                                    <div class="col-sm-4">
                                        <span class="static-data">{{kgToLb(getTodayWeightLoss(weight.kg, -1))}} <em>lb</em></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="static-data">{{getTodayWeightLoss(weight.kg, -1) | number:2}} <em>kg</em></span>
                                    </div>
                                </div>
                                <!-- % Weight Loss / week -->
                                <div class="row form-inline">
                                    <label class="col-sm-4 control-label">% Weight Loss / week</label>
                                    <div class="col-sm-8">
                                        <!--To be computed using angularJs-->
                                        <span class="static-data">{{getAvgWeightLossPerWeek()}} <em>%</em></span>
                                    </div>
                                </div>
                                <!-- Trimauxil Use && Weight Loss Appropriate-->
                                <div class="form-group form-inline">
                                    <!-- Trimauxil Use -->
                                    <label class="col-sm-4 control-label">Trimauxil Use</label><br/>
                                    <div class="col-sm-8" >
                                        <input data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Overuse" required> Overuse (ran out > 2 days)<br/>
                                        <input data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Just Right" required> Just Right (+/- 2 doses)<br/>
                                        <input data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Underuse" required> Underuse (>2 doses remaining)<br/>
                                    </div>
                                </div>
                                <!-- Trimauxil Dose -->
                                <div class="row form-inline">
                                    <label class="col-sm-4 control-label">Trimauxil Dose</label>
                                    <div class="col-sm-8">
                                        <span class="static-data">{{getTrimauxilDose(weight.lb)}}</span>
                                    </div>
                                </div>
                                <!-- Feeding adjustment needed -->
                                <div class="row form-inline">
                                    <label class="col-sm-4 control-label">Feeding Adjustment needed</label>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input data-ng-model="adjustFeeding" type="radio" data-ng-change="feedAdjustFlag = true" value="true"> yes</label>
                                        <label class="radio-inline"><input data-ng-model="adjustFeeding" type="radio" data-ng-change="feedAdjustFlag = false" value="false"> no</label>
                                    </div>
                                </div>
                                <!-- Feeding adjustment needed Extended form -->
                                <div ng-hide="!feedAdjustFlag">
                                    <div class="row form-group form-inline">
                                        <div class="col-sm-4">
                                            <small class="pull-right control-label">Enter number of cups per meal</small>
                                        </div>
                                        <div class="col-sm-3 input-group">
                                            <input data-ng-model="overrideCupsPerFeeding" class="form-control" id="focusedInput" type="text" data-ng-required="feedAdjustFlag"><em class="input-group-addon">cups/meal</em>
                                        </div>
                                        <div class="col-sm-5 pull-right">
                                            <input data-ng-model="vetIdOverrideCPF" class="form-control" id="focusedInput" type="text" placeholder="Enter Vet ID" data-ng-required="feedAdjustFlag">
                                        </div>
                                    </div>
                                </div>
                                <!-- Food Changed -->
                                <div class="row form-group form-inline">
                                    <label class="col-xs-12 col-sm-4 control-label">Food Changed</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <label class="radio-inline"><input data-ng-model="foodChanged" type="radio" name="foodChanged" value="true" data-ng-change="enterFood = true"> yes</label>
                                        <label class="radio-inline"><input data-ng-model="foodChanged" type="radio" name="foodChanged" value="false" data-ng-change="enterFood = false"> no</label>
                                    </div>
                                </div>

                                <!-- Food changed extended form -->
                                <div ng-hide="!enterFood">
                                    <div class="row form-group form-inline">
                                        <div class="col-sm-4">
                                            <small class="pull-right control-label">Enter the food name</small>
                                        </div>
                                        <div class="col-sm-7 input-group">
                                            <input data-ng-model="foodCalPerCup" class="form-control" id="focusedInput" type="text" data-ng-required="enterFood">
                                        </div>
                                    </div>
                                    <div class="row form-group form-inline">
                                        <div class="col-sm-3 col-sm-offset-4 input-group">
                                            <input data-ng-model="foodCalPerCup" class="form-control" id="focusedInput" type="text"><em class="input-group-addon" data-ng-required="enterFood">kcal/cup</em>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-1 input-group">
                                            <input data-ng-model="foodKCalPerKg" class="form-control" id="focusedInput" type="text"><em class="input-group-addon" data-ng-required="enterFood">kcal/kg</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Columns containing Comments and approval -->
                            <div class="col-sm-5">
                                <!-- Trimauxil Dose -->
                                <div class="form-group">
                                    <label class="col-xs-12" for="comments">Comments</label>
                                    <div class="col-xs-12">
                                        <textarea data-ng-model="comments" class="form-control" rows="10" id="comment" placeholder="Enter comments if applicable"></textarea>
                                    </div>
                                </div>
                                <!-- Tech Initial -->
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3">Tech ID</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <input data-ng-model="techId" class="form-control" id="focusedInput" type="text" placeholder="Enter Tech ID" required>
                                    </div>
                                </div>
                                <!-- Vet Initial -->
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3">Vet ID</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <input data-ng-model="vetId" class="form-control" id="focusedInput" type="text" placeholder="Enter Vet ID" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Row containing Cancel and Save button -->
                        <hr/>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-6">
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </accordion-body>
        </accordion-group>
        <br/>
<!--==============================================================================================-->
        <!--PAST FORMS-->
        <accordion-group is-open="form.isOpen" ng-repeat="form in activePatient.progressForms | orderBy:'dateCreated':true">
            <accordion-heading>
                <div class="row">
                    <div class="cols-xs-9 col-sm-4">
                        <i data-ng-hide="!formsLocked" class="glyphicon glyphicon-lock"></i>
                        <i data-ng-hide="formsLocked" ng-class="{'glyphicon glyphicon-ok text-success' : !form.edit, 'glyphicon glyphicon-pencil text-danger': form.edit}"></i>
                        &nbsp; Last visit: <em>{{form.dateCreated | date:mediumDate}}</em>
                    </div>
                    <div class="cols-xs-0 hidden-xs col-sm-3 text-left">Weight: <em>{{form.weight}}kg</em></div>
                    <div class="cols-xs-0 hidden-xs col-sm-3 text-center">Weight loss/week: <em>{{getAvgWeightLossPerWeek()}}%</em></div>
                    <div class="cols-xs-3 hidden-xs col-sm-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': form.isOpen, 'glyphicon-chevron-right': !form.isOpen}"></i>
                    </div>
                </div>
            </accordion-heading>
            <acordion-body>

                <form name="editProgressForm" class="form-horizontal" data-ng-submit="updateProgressForm(form.index)">
                <!-- submit should be changed to 'editProgressForm()' for past forms -->
                    
                    <!-- Actual form-->
                    <div class="row">
                        <div class="col-sm-7">
                            <!-- Today's Weight -->
                            <div class="row form-inline">
                                <label class="col-sm-4 control-label">Weight</label>
                                <div class="col-xs-6 col-sm-3 input-group">
                                    <input data-ng-model="form.weightLb" data-ng-change="form.weightKg = lbToKg(form.weightLb)" ng-readonly="!form.edit" class="form-control" id="focusedInput" type="text" placeholder="{{!form.edit ? kgToLb(form.weight) : 'Enter weight'}}" ><em class="input-group-addon">lb</em>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-sm-offset-1 input-group">
                                   <input data-ng-model="form.weightKg" data-ng-change="form.weightLb = kgToLb(form.weightKg)" ng-readonly="!form.edit" class="form-control" id="focusedInput" type="text" placeholder="{{!form.edit ? form.weight : 'Enter weight'}}"><em class="input-group-addon">kg</em>
                                </div>
                            </div>
                            <!-- Last Weight -->
                            <div class="row form-inline">
                                <label class="col-sm-4 control-label">Last Weight</label>
                                <div class="col-sm-4">
                                    <span class="static-data">{{kgToLb(getLastWeight(form.index))}} <em>lb</em></span>
                                </div>
                                <div class="col-sm-4">
                                    <span class="static-data">{{getLastWeight(form.index) | number:2}} <em>kg</em></span>
                                </div>
                            </div>
                            <!-- Today Weight Loss -->
                            <div class="row form-inline">
                                <label class="col-sm-4 control-label">Today Weight Loss</label>
                                <div class="col-sm-4">
                                    <span class="static-data">{{kgToLb(getTodayWeightLoss(weight.kg, form.index))}} <em>lb</em></span>
                                </div>
                                <div class="col-sm-4">
                                    <span class="static-data">{{getTodayWeightLoss(weight.kg, form.index) | number:2}} <em>kg</em></span>
                                </div>
                            </div>
                            <!-- Avg Weight Loss -->
                            <div class="row form-inline">
                                <label class="col-sm-4 control-label">% Weight Loss / week</label>
                                <div class="col-sm-8">
                                    <!--To be computed using angularJs-->
                                    <span class="static-data">{{getAvgWeightLossPerWeek()}} <em>%</em></span>
                                </div>
                            </div>
                            <!-- Trimauxil Use && Weight Loss Appropriate-->
                            <div class="form-group">
                                <!-- Trimauxil Use -->
                                <label class="col-sm-4 control-label">Trimauxil Use</label><br/>
                                <div class="col-sm-8" >
                                    <input ng-disabled="!form.edit" data-ng-model="form.trimauxilUse" type="radio" name="trimauxilUse" value="Overuse"> Overuse (ran out > 2 days)<br/>
                                    <input ng-disabled="!form.edit" data-ng-model="form.trimauxilUse" type="radio" name="trimauxilUse" value="Just Right"> Just Right (+/- 2 doses)<br/>
                                    <input ng-disabled="!form.edit" data-ng-model="form.trimauxilUse" type="radio" name="trimauxilUse" value="Underuse"> Underuse (>2 doses remaining)<br/>
                                </div>
                            </div>
                            <!-- Trimauxil Dose -->
                            <div class="row form-inline">
                                <label class="col-sm-4 control-label">Trimauxil Dose</label>
                                <div class="col-sm-8">
                                    <span class="static-data">{{getTrimauxilDose(form.weightKg)}}</span>
                                </div>
                            </div>
                            <!-- Feeding adjustment needed -->
                            <div class="row form-inline">
                                <label class="col-sm-4 control-label">Feeding Adjustment needed</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline"><input data-ng-model="form.feedAdjustmentFlag" ng-disabled="!form.edit" type="radio" data-ng-change="form.feedAdjustmentFlag = true" value="true"> yes</label>
                                    <label class="radio-inline"><input data-ng-model="form.feedAdjustmentFlag" data-ng-change="form.feedAdjustmentFlag = false" ng-disabled="!form.edit" type="radio" value="false"> no</label>
                                </div>
                            </div>
                            <!-- Feeding adjustment needed Extended form -->
                            <div ng-hide="!form.feedAdjustmentFlag">
                                <div class="row form-group form-inline">
                                    <div class="col-sm-4">
                                        <small ng-hide="!form.edit" class="pull-right control-label">Enter number of cups per meal</small>
                                        <small ng-hide="form.edit" class="pull-right control-label">New feeding adjustment</small>
                                    </div>
                                    <div class="col-sm-3 input-group">
                                        <input data-ng-model="form.overrideCupsPerFeeding" class="form-control" id="focusedInput" type="text"ng-disabled="!form.edit" data-ng-required="!form.feedAdjustmentFlag"><em class="input-group-addon">cups/meal</em>
                                    </div>
                                    <div class="col-sm-5 pull-right">
                                        <input data-ng-model="form.vetIdOverrideCPF" class="form-control" id="focusedInput" type="text" placeholder="Enter Vet ID" ng-disabled="!form.edit" data-ng-required="!form.feedAdjustmentFlag">
                                    </div>
                                </div>
                            </div>
                            <!-- Food Changed -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Food Changed</label>
                                <div class="col-xs-6 col-sm-8">
                                    <label class="radio-inline"><input ng-disabled="!form.edit" data-ng-model="form.foodChanged" type="radio" name="foodChanged" data-ng-change="form.foodChangedFlag = true"value="true"> Yes</label>
                                    <label class="radio-inline"><input ng-disabled="!form.edit" data-ng-model="form.foodChanged" type="radio" name="foodChanged" data-ng-change="form.foodChangedFlag = false"value="false"> No</label>
                                </div>
                            </div>

                            <!-- Food changed extended form -->
                            <div ng-hide="!form.edit || (form.edit && !form.foodChangedFlag)">
                                <div class="row form-group form-inline">
                                    <div class="col-sm-4">
                                        <small ng-hide="!form.edit" class="pull-right control-label">Enter the food name</small>
                                        <small ng-hide="form.edit" class="pull-right control-label">Food Name</small>
                                    </div>
                                    <div class="col-sm-7 input-group">
                                        <input data-ng-model="form.foodName" ng-disabled="!form.edit" class="form-control" id="focusedInput" type="text">
                                    </div>
                                </div>
                                <div class="row form-group form-inline">
                                    <div class="col-sm-3 col-sm-offset-4 input-group">
                                        <input data-ng-model="form.foodKCalPerCup" ng-disabled="!form.edit" class="form-control" id="focusedInput" type="text"><em class="input-group-addon">kcal/cup</em>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1 input-group">
                                        <input data-ng-model="form.foodKCalPerKg" ng-disabled="!form.edit" class="form-control" id="focusedInput" type="text"><em class="input-group-addon">kcal/kg</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Columns containing Comments and approval -->
                        <div class="col-sm-5">
                            <!-- Trimauxil Dose -->
                            <div class="form-group">
                                <label class="col-xs-12" for="comments">Comments</label>
                                <div class="col-xs-12">
                                    <textarea data-ng-model="form.comments" ng-readonly="!form.edit" class="form-control" rows="10" id="comment" placeholder="{{!form.edit ? form.comments : 'Enter comments if applicable'}}"></textarea>
                                </div>
                            </div>
                            <!-- Tech Initial -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3">Tech ID</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input data-ng-model="form.techId" ng-readonly="!form.edit" class="form-control" id="focusedInput" type="text" placeholder="{{!form.edit ? form.techId : 'Enter Tech ID'}}">
                                </div>
                            </div>
                            <!-- Vet Initial -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3">Vet ID</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input data-ng-model="form.vetId" ng-readonly="!form.edit" class="form-control" id="focusedInput" type="text" placeholder="{{!form.edit ? form.vetId : 'Enter Vet ID'}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row containing Cancel and Save button -->
                    <hr/>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <button ng-show="!form.edit && !formsLocked" ng-click="editForm(form.index)" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                            <fieldset ng-show="form.edit">
                                <button type="submit" class="btn btn-primary pull-right">Save</button>

                                <button ng-click="cancelEditing(form.index)" type="button" class="btn btn-default pull-right">Cancel</button>

                            </fieldset>
                        </div>
                    </div>
                </form>
            </acordion-body>
        </accordion-group>
    </accordion>




</div>
