<div  ng-controller="progressFormsController" class="pForms">
    <!-- Information about selected patient -->
    <div class="row">
        <div class="col-xs-12 col-sm-8" ng-repeat="c in clients">
            <h1 class="text-info">{{currPatient.firstName}}</h1>
            <h5>Patient: {{c.clientName}}</h5>
            <h5>Phone: {{c.phone}}</h5>
            <h5>Contact time: {{c.contactTime}}</h5>
        </div>
        <div class="col-xs-12 col-sm-4 pull-right col-md-3">
            <br/>
            <br/>
            <h4>Clinic ID: 000000</h4>
            <h5>trimauxil Submission: Yes</h5>
            <h5>Initial Weight: {{currPatient.startWeight}}</h5>
            <h5>Ideal Weight: 2 lbs</h5>
        </div>
    </div>
    <hr/>
    <accordion close-others="oneAtTime">
        <!--ADD NEW FORMS-->
        <accordion-group>
            <accordion-heading>
                <div class="row">
                    <div class="col-xs-12">
                        Add New Form<i class="pull-right glyphicon-plus"></i>
                    </div>
                </div>
            </accordion-heading>
            <accordion-body>
                <form data-ng-submit="createProgressForm()" class="form-horizontal">
                    <!-- Actual form-->
                    <div class="row">
                        <div class="col-sm-8 col-md-7">
                            <!-- Today's Weight -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Today's Weight</label>
                                <div class="col-xs-10 col-sm-6">
                                    <input data-ng-model="weight" class="form-control" id="focusedInput" type="text" placeholder="Enter today weight">
                                </div>
                                <div class="col-xs-2">kg</div>
                            </div>
                            <!-- Today Weight Loss -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Today Weight Loss</label>
                                <div class="col-xs-10 col-sm-6">
                                    <!--To be computed using angularJs-->
                                    <span class="static-data">static</span>
                                </div>
                                <div class="col-xs-2">%</div>
                            </div>
                            <!-- Avg Weight Loss -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Avg Weight Loss</label>
                                <div class="col-xs-10 col-sm-6">
                                    <!--To be computed using angularJs-->
                                    <span class="static-data">static</span>
                                </div>
                                <div class="col-xs-2">%</div>
                            </div>
                            <!-- Trimauxil Use && Weight Loss Appropriate-->
                            <div class="form-group">
                                <!-- Trimauxil Use -->
                                <div class="col-xs-12 col-sm-4 col-sm-offset-2" >
                                    <label class="control-label">Trimauxil Use</label><br/>
                                    <input data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Overuse"> Overuse<br/>
                                    <input data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Just Right"> Just Right<br/>
                                    <input data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Underuse"> Underuse<br/>
                                </div>
                                <!-- Weight Loss Appropriate -->
                                <div class="col-xs-12 col-sm-6">
                                    <label class="control-label">Weight Loss Appropriate</label><br/>
                                    <input data-ng-model="weightLossAppropriate" type="radio" name="weightLossAppropriate" value="true"> Yes<br/>
                                    <input data-ng-model="weightLossAppropriate" type="radio" name="weightLossAppropriate" value="false"> No<br/>
                                </div>
                            </div>
                            <!-- Trimauxil Dose -->
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-4">Trimauxil Dose</label>
                                <div class="col-xs-4 col-sm-2">
                                    <select class="form-control">
                                        <option value="1" selected="selected">1</option>
                                        <option value="1.5">1.5</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="col-xs-8 col-sm-4">
                                    <input class="form-control" id="focusedInput" type="text" placeholder="signed: Jane Doe">
                                </div>
                                <div class="colxs-0 hidden col-sm-2"></div>
                            </div>
                            <!-- Food Changed -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Food Changed</label>
                                <div class="col-xs-12 col-sm-4">
                                    <label class="radio-inline"><input data-ng-model="foodChanged" type="radio" name="foodChanged" value="true"> Yes</label>
                                    <label class="radio-inline"><input data-ng-model="foodChanged" type="radio" name="foodChanged" value="false"> No</label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                                    <input class="form-control" id="focusedInput" type="text" placeholder="Will most likely be deleted">
                                </div>
                            </div>
                        </div>
                        <!-- Columns containing Comments and approval -->
                        <div class="col-sm-4 col-md-5">
                            <!-- Trimauxil Dose -->
                            <div class="form-group">
                                <label class="col-xs-12" for="comments">Comments</label>
                                <div class="col-xs-12">
                                    <textarea data-ng-model="comments" class="form-control" rows="10" id="comment" placeholder="Enter comments if applicable"></textarea>
                                </div>
                            </div>
                            <!-- Tech Initial -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-5">Tech ID</label>
                                <div class="col-xs-12 col-sm-7">
                                    <input data-ng-model="techId" class="form-control" id="focusedInput" type="text" placeholder="Enter Tech ID">
                                </div>
                            </div>
                            <!-- Vet Initial -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-5">Vet ID</label>
                                <div class="col-xs-12 col-sm-7">
                                    <input data-ng-model="vetId" class="form-control" id="focusedInput" type="text" placeholder="Enter Vet ID">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row containing Cancel and Save button -->
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <button type="button" class="btn btn-primary pull-right" ng-class="{true: 'btn-primary', false: 'btn-danger'}" >Save</button>
                            <button ng-click="cancelEditing()" type="button" class="btn btn-default pull-right">Cancel</button>
                        </div>
                    </div>
                </form>
            </accordion-body>
        </accordion-group>
        <br/>
<!--==============================================================================================-->
        <!--PAST FORMS-->
        <accordion-group is-open="form.isOpen" ng-repeat="form in currPatient.progressForms | orderBy:'dateCreated'">
            <accordion-heading>
                <div class="row">
                    <div class="cols-xs-3 hidden-xs col-sm-1">
                        <i class="glyphicon glyphicon-ok"></i>
                    </div>
                    <div class="cols-xs-6 col-sm-3">
                        {{form.dateCreated | date:mediumDate}}
                    </div>
                    <div class="cols-xs-0 hidden-xs col-sm-3 text-center">Weight Loss: <i>{{form.weight}}</i></div>
                    <div class="cols-xs-0 hidden-xs col-sm-3 text-center">Dose</div>
                    <div class="cols-xs-3 hidden-xs col-sm-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': form.isOpen, 'glyphicon-chevron-right': !form.isOpen}"></i>
                    </div>
                </div>
            </accordion-heading>
            <acordion-body>
                <form data-ng-submit="createProgressForm()" class="form-horizontal">
                    <!-- Actual form-->
                    <div class="row">
                        <div class="col-sm-8 col-md-7">
                            <!-- Today's Weight -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Today's Weight</label>
                                <div class="col-xs-10 col-sm-6">
                                    <input data-ng-model="weight" ng-readonly="disableField" class="form-control" id="focusedInput" type="text" placeholder="{{disableField ? form.weight : 'Enter today weight'}}">
                                </div>
                                <div class="col-xs-2">kg</div>
                            </div>
                            <!-- Today Weight Loss -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Today Weight Loss</label>
                                <div class="col-xs-10 col-sm-6">
                                    <!--To be computed using angularJs-->
                                    <span class="static-data">{{getTodayWeightLoss(form.weight)}}</span>
                                </div>
                                <div class="col-xs-2">%</div>
                            </div>
                            <!-- Avg Weight Loss -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Avg Weight Loss</label>
                                <div class="col-xs-10 col-sm-6">
                                    <!--To be computed using angularJs-->
                                    <span class="static-data">{{getAvgWeightLoss(form.weight)}}</span>
                                </div>
                                <div class="col-xs-2">%</div>
                            </div>
                            <!-- Trimauxil Use && Weight Loss Appropriate-->
                            <div class="form-group">
                                <!-- Trimauxil Use -->
                                <div class="col-xs-12 col-sm-4 col-sm-offset-2" >
                                    <label class="control-label">Trimauxil Use</label><br/>
                                    <input ng-disabled="disableField" data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Overuse"> Overuse<br/>
                                    <input ng-disabled="disableField" data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Just Right"> Just Right<br/>
                                    <input ng-disabled="disableField" data-ng-model="trimauxilUse" type="radio" name="trimauxilUse" value="Underuse"> Underuse<br/>
                                </div>
                                <!-- Weight Loss Appropriate -->
                                <div class="col-xs-12 col-sm-6">
                                    <label class="control-label">Weight Loss Appropriate</label><br/>
                                    <input ng-disabled="disableField" data-ng-model="weightLossAppropriate" type="radio" name="weightLossAppropriate" value="true"> Yes<br/>
                                    <input ng-disabled="disableField" data-ng-model="weightLossAppropriate" type="radio" name="weightLossAppropriate" value="false"> No<br/>
                                </div>
                            </div>
                            <!-- Trimauxil Dose -->
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-4">Trimauxil Dose</label>
                                <div class="col-xs-4 col-sm-2">
                                    <select class="form-control" ng-disabled="disableField">
                                        <option value="1" selected="selected">1</option>
                                        <option value="1.5">1.5</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="col-xs-8 col-sm-4">
                                    <input class="form-control" ng-readonly="disableField" id="focusedInput" type="text" placeholder="signed: Jane Doe">
                                </div>
                                <div class="colxs-0 hidden col-sm-2"></div>
                            </div>
                            <!-- Food Changed -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 control-label">Food Changed</label>
                                <div class="col-xs-12 col-sm-4">
                                    <label class="radio-inline"><input ng-disabled="disableField" data-ng-model="foodChanged" type="radio" name="foodChanged" value="true"> Yes</label>
                                    <label class="radio-inline"><input ng-disabled="disableField" data-ng-model="foodChanged" type="radio" name="foodChanged" value="false"> No</label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                                    <input class="form-control" ng-readonly="disableField" id="focusedInput" type="text" placeholder="signed: Jane Doe">
                                </div>
                            </div>
                        </div>
                        <!-- Columns containing Comments and approval -->
                        <div class="col-sm-4 col-md-5">
                            <!-- Trimauxil Dose -->
                            <div class="form-group">
                                <label class="col-xs-12" for="comments">Comments</label>
                                <div class="col-xs-12">
                                    <textarea data-ng-model="comments" ng-readonly="disableField" class="form-control" rows="10" id="comment" placeholder="{{disableField ? form.comments : 'Enter comments if applicable'}}"></textarea>
                                </div>
                            </div>
                            <!-- Tech Initial -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-5">Tech ID</label>
                                <div class="col-xs-12 col-sm-7">
                                    <input data-ng-model="techId" ng-readonly="disableField" class="form-control" id="focusedInput" type="text" placeholder="J.D">
                                </div>
                            </div>
                            <!-- Vet Initial -->
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-5">Vet ID</label>
                                <div class="col-xs-12 col-sm-7">
                                    <input data-ng-model="vetId" ng-readonly="disableField" class="form-control" id="focusedInput" type="text" placeholder="J.D">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row containing Cancel and Save button -->
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <button ng-show="disableField" ng-click="editForm()" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                            <fieldset ng-show="!disableField">
                                <button type="button" class="btn btn-primary pull-right" ng-class="{true: 'btn-primary', false: 'btn-danger'}" >Save</button>
                                <button ng-click="cancelEditing()" type="button" class="btn btn-default pull-right">Cancel</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </acordion-body>
        </accordion-group>
    </accordion>
</div>
