<div id="progressPage" align="Left" style="font-family: Open Sans, Gadget, sans-serif; width:80%; padding-left:10%; padding-right:10%; min-width:540px">

    <div style="padding:0px;">

        <div style="background-color:#F4F4F4; color:#1A4B68; padding:0px; width:100%" align="Center">
            <h1>Progress Page</h1> 
        </div> 


        <div style="background-color:#F4F4F4; color:#1A4B68; padding-left:2%; padding-right:2%; width:96%; height:220px; overflow: auto; overflow-x: auto; overflow-y: auto;" align="Left">
            
            <div>
                <h2 style="float: left;">Patient Information</h2>  
                <br/><br/><br/><br/>
                <div style="float: left; padding-right:calc(50% - 200px)" >      
                    <p>Patient Name:   Max<br/> 
                        Client Name:   John Doe<br/>
                        Previous Appointment:   10/01/15<br/>
                        Current Appointment:   10/15/15<br/>
                        Next Appointment:   10/29/15<br/>
                    </p>
                </div>
                <div style="float: left; padding-left:0%;" >      
                    <p>Current Food:   Purina Dog Chow<br/> 
                        Food Serving Size:  1/2 Cup<br/>
                        Servings Per Day:   2<br/>
                        Current Trimauxil:   S2<br/>
                    </p>
                </div>

            </div>

        </div> 



        <br/>

        <canvas id="testChartLine" style="width:100%; height:450px;"></canvas>

        <br/>
        <br/>
        
        <div style="background-color:#F4F4F4; color:#1A4B68; padding:2%; width:96%; height:200px;" align="Left">
            
            <div style="float: left;">
                <h2>Weight Loss Graph</h2>        
                <p>Starting Weight: &nbsp &nbsp &nbsp   100<br/> 
                    Current Weight: &nbsp &nbsp &nbsp&nbsp   60<br/>
                    Goal Weight: &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp   53.1<br/>
                    Total Weight Lost: &nbsp&nbsp   40<br/>
                    Pounds to Go: &nbsp &nbsp &nbsp &nbsp&nbsp   6.9<br/>
                </p>
            </div>

            <div style="float: right;">
            <canvas id="testChartDoughnut" width="200" height="200" style="margin-left:60px;"></canvas>
            </div>

        </div> 

    </div>
     
    <br/>
    <br/>

        <script src="ChartJS/Chart.js"></script>
        <script src="chartSetup.js"></script>

</div>

