<div id="progressPage">

    <div id="headerH1" align="Center">
        <h1>Progress Page</h1>
    </div>

    <div id="boxOne" align="Left">
        <div>
            <h2 id="floatLeft">Patient Information</h2>
            <br/><br/><br/><br/>
            <div id="floatLeftPadded" >
                <p>Patient Name:   Max<br/>
                    Client Name:   John Doe<br/>
                    Previous Appointment:   10/01/15<br/>
                    Current Appointment:   10/15/15<br/>
                    Next Appointment:   10/29/15<br/>
                </p>
            </div>
            <div id="floatLeftNoPad" >
                <p>Current Food:   Purina Dog Chow<br/>
                    Food Serving Size:  1/2 Cup<br/>
                    Servings Per Day:   2<br/>
                    Current Trimauxil:   S2<br/>
                </p>
            </div>
        </div>
    </div>

    <br/>

    <canvas id="testChartLine" style="width:100%; height:450px;"></canvas>

    <br/>
    <br/>

    <div id="boxTwo" align="Left">

        <div id="floatLeft">
            <h2>Weight Loss Graph</h2>
            <p>Starting Weight: &nbsp &nbsp &nbsp   100<br/>
                Current Weight: &nbsp &nbsp &nbsp&nbsp   60<br/>
                Goal Weight: &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp   53.1<br/>
                Total Weight Lost: &nbsp&nbsp   40<br/>
                Pounds to Go: &nbsp &nbsp &nbsp &nbsp&nbsp   6.9<br/>
            </p>
        </div>

        <div id="floatRight">
            <canvas id="testChartDoughnut" width="200" height="200" style="margin-left:60px;"></canvas>
        </div>

    </div>

    <br/>
    <br/>

        <script src="ChartJS/Chart.js"></script>
        <script src="chartSetup.js"></script>

</div>
