.overviewPage{

	margin-left: 302px;
}

.heading{
	
	text-align: center;
	font-family: "Trajan Pro";
	color: #1E5687;
}

.info{

	color: #1E5687;
}

.heavy-buffer {
	padding-top: 100px;
}

.auxthera-container {
	padding-top: 10px;
	padding-left: 310px;
	padding-right: auto;
}
.auxthera-body-wrapper {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
}