.overviewPage {
	margin-left: 302px;
}

.info {
	color: #1E5687;
}

.heavy-buffer {
	padding-top: 100px;
}

.auxthera-container {
	padding-left: 300px;
	width: 100%;
}
.auxthera-body-wrapper {
	margin: 0 auto;
	width: 90%;
}