.heading {
	text-align: center;
	font-family: "Trajan Pro";
	color: #1E5687;
}

.TableComponents {
    width: 100%;
    margin: 0 auto;
    padding-left: 310px;
}

.heavy-top-buffer {
    margin-top: 100px;
}


.custom-panel {
	padding-left: 5%;
	padding-right: 5%;
}
.custom-panel .panel {
	background-color: #fff;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}
.custom-panel .panel-group {
	margin-bottom: 0;
}
.custom-panel .panel-group .panel + .panel {
 	margin-top: 0;
}
.custom-panel .panel-heading {
	padding: 8px;
	border-top: none;
	border-left: none;
	border-right: none;
}