.heading {
	text-align: center;
	font-family: "Trajan Pro";
	color: #1E5687;
}

.TableComponents {
    width: 70%;
    margin: 0 auto;
    padding-left: 310px;
}

.heavy-top-buffer {
    margin-top: 100px;
}
.accordion-custom-heading {
	padding-left: auto;
}

accordion-heading.custom-heading {
	background-color: black !important;
}