<div class="wrapper">

    <!-- Sidebar -->
    <div class="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebarLogoImage">
              <img src="modules/core/img/brand/trimauxil-logo-horizontal.svg" class="sidebarLogoImg">
          </li>
          <li class="{active: isActive('/auxOverview')}">
              <a ui-sref="auxOverview">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-home dashGlyph" aria-hidden="true"></span> Overview
                  </button>
              </a>
          </li>

          <!--
          <li class="{active: isActive('/auxCallList')}">
              <a ui-sref="auxCallList">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-earphone dashGlyph"></span> Patient Call List
                      <span class="badge">12</span></button>
                  </button>
              </a>
          </li>
          -->

          <li class="{active: isActive('/auxFeedback')}">
              <a ui-sref="auxFeedback">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-th-list dashGlyph"></span>Feedback Viewer
                      <!--<span class="badge">feedback.length</span></button>-->
                  </button>
              </a>
          </li>

          
          <li class="{active: isActive('/auxUpdates')}">
              <a ui-sref="auxUpdates">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-book dashGlyph" aria-hidden="true"></span> New Updates
                      <!--<span class="badge"></span></button>-->
                  </button>
              </a>
          </li>
          

          <li class="{active: isActive('/signup')}">
              <a ui-sref="signup">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-user dashGlyph" aria-hidden="true"></span> 
                      Sign up a new user
                  </button>
              </a>
          </li>

          <!--
          <li>
            <a ui-sref="vetFeedback">
                <button class="dashButton">
                    <span class="glyphicon glyphicon-envelope dashGlyph" aria-hidden="true"></span> Feedback
                </button>
            </a>
          </li>
          -->

          <li class="logOutButton">
              <a href="/api/auth/signout" target ="_self">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-log-out dashGlyph" aria-hidden="true"></span> Log Out
                  </button>
              </a>
          </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->
