<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="text-center" id="sidebarLogoImage">
              <img src="modules/core/img/brand/trimLogo.png">
          </li>
          <li>
              <a ui-sref="auxOverview">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-home dashGlyph" aria-hidden="true"></span> Overview
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="auxCallList">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-earphone dashGlyph"></span> Patient Call List
                      <span class="badge">12</span></button>
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="auxFeedback">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-th-list dashGlyph"></span>Feedback Viewer
                      <span class="badge">7</span></button>
                  </button>
              </a>
          </li>

          
          <li>
              <a ui-sref="auxUpdates">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-book dashGlyph" aria-hidden="true"></span> New Updates
                      <span class="badge">2</span></button>
                  </button>
              </a>
          </li>
          

          <!--
          <li>
            <a ui-sref="vetFeedback">
                <button class="dashButton">
                    <span class="glyphicon glyphicon-envelope dashGlyph" aria-hidden="true"></span> Feedback
                </button>
            </a>
          </li>
          -->

          <li id="dropToBottom">
              <a ui-sref="login">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-log-out dashGlyph" aria-hidden="true"></span> Log Out
                  </button>
              </a>
          </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->
