<div class="wrapper">

    <!-- Sidebar -->
    <div class="sidebar-wrapper" ng-controller="HeaderController">
        <ul class="sidebar-nav">
          <li class="sidebarLogoImage">
              <img src="modules/core/img/brand/trimauxil-logo-horizontal.svg" class="sidebarLogoImg">
          </li>

          <li ng-class="{active: isActive('/overview')}">
              <a ui-sref="overview">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-home dashGlyph" aria-hidden="true"></span>Home
                  </button>
              </a>
          </li>

          <li ng-class="{active: isActive('/progressForms')}">
              <a ui-sref="progressForms">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-check dashGlyph" aria-hidden="true"></span> Visit Form
                  </button>
              </a>
          </li>

          <li ng-class="{active: isActive('/enrollmentForm')}">
              <a ui-sref="enrollmentForm">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-list-alt dashGlyph" aria-hidden="true"></span> Enrollment Form
                  </button>
              </a>
          </li>

          <li ng-class="{active: isActive('/vetFeedback')}">
            <a ui-sref="vetFeedback">
                <button class="dashButton">
                    <span class="glyphicon glyphicon-envelope dashGlyph" aria-hidden="true"></span> Contact Us
                </button>
            </a>
          </li>

          <li ng-class="{active: isActive('/exitForm')}">
              <a ui-sref="exitForm">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-send dashGlyph" aria-hidden="true"></span> Exit Form
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="vetHomepage">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-list dashGlyph" aria-hidden="true"></span> Active Patient List
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="vetHomepage">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-folder-open dashGlyph" aria-hidden="true"></span> Inactive Patient List
                  </button>
              </a>
          </li>

          <li class="logOutButton">
              <a href="/api/auth/signout" target ="_self">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-log-out dashGlyph" aria-hidden="true"></span> Log Out
                  </button>
              </a>
          </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->
