<div id="sidebar">

    <ul id="sidebarList">

        <li id="logoSidebarItem">
            <img id="sidebarLogoImage" src="trimLogo.png">
        </li>

        <li>
            <button class="dashButton">
                <span class="glyphicon glyphicon-home dashGlyph" aria-hidden="true"></span>
                Overview
            </button>
        </li>

        <li>
            <button class="dashButton">
                <span class="glyphicon glyphicon-check dashGlyph" aria-hidden="true"></span>
                Progress Form
            </button>
        </li>

        <li>
            <button class="dashButton">
                <span class="glyphicon glyphicon-list-alt dashGlyph" aria-hidden="true"></span>
                Enrollment Form
            </button>
        </li>

        <li>
            <button class="dashButton">
                <span class="glyphicon glyphicon-book dashGlyph" aria-hidden="true"></span>
                Patient Diary
            </button>
        </li>
        
        <li>
            <button class="dashButton">
                <span class="glyphicon glyphicon-send dashGlyph" aria-hidden="true"></span>
                Exit Form
            </button>
        </li>
        
        <li>
            <button class="dashButton">
                <span class="glyphicon glyphicon-list dashGlyph" aria-hidden="true"></span>
                Return to Patient List
            </button>
        </li>

        <li class="dashAdminControl" id="dAC-Change-User">
            <button class="dashButton">
                <span class="glyphicon glyphicon-user dashGlyph" aria-hidden="true"></span>
                Change User
            </button>
            
        </li>

        <li class="dashAdminControl" id="dAC-Log-Out">
            <button class="dashButton">
                <span class="glyphicon glyphicon-log-out dashGlyph" aria-hidden="true"></span>
                Log Out
            </button>      
        </li>

    </ul>

</div>