<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="text-center" id="sidebarLogoImage">
              <img src="modules/core/img/brand/trimLogo.png">
          </li>
          <li>
              <a ui-sref="overview">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-home dashGlyph" aria-hidden="true"></span> Overview
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="progressForms">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-check dashGlyph" aria-hidden="true"></span> Progress Form
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="enrollmentForm">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-list-alt dashGlyph" aria-hidden="true"></span> Enrollment Form
                  </button>
              </a>
          </li>

          <!--
          <li>
              <a ui-sref="">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-book dashGlyph" aria-hidden="true"></span> Patient Diary
                  </button>
              </a>
          </li>
          -->
          <li>
            <a ui-sref="vetFeedback">
                <button class="dashButton">
                    <span class="glyphicon glyphicon-envelope dashGlyph" aria-hidden="true"></span> Feedback
                </button>
            </a>
          </li>-->


          <li>
              <a ui-sref="exitForm">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-send dashGlyph" aria-hidden="true"></span> Exit Form
                  </button>
              </a>
          </li>

          <li>
              <a ui-sref="vetHomepage">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-list dashGlyph" aria-hidden="true"></span> Return to Patient List
                  </button>
              </a>
          </li>

          <li id="logOutButton">
              <a ui-sref="login">
                  <button class="dashButton">
                      <span class="glyphicon glyphicon-log-out dashGlyph" aria-hidden="true"></span> Log Out
                  </button>
              </a>
          </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->
