<div class="row">
        <img src="modules/core/img/brand/trimLogo.png">
        <h1 class="text-center">Patient List</h1>
</div>

<div class="TableComponents">
    <div class="row heavy-top-buffer">
        <div class="col-md-9 col-sm-8">
            <div class="AddButton">
                <button class="btn btn-primary" type="button">Add New
                Patient</button>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 pull-right">
            <div class="input-group">
                <input class="form-control" id="srch-term" name="srch-term"
                placeholder="Search" type="text">

                <div class="input-group-btn">
                    <button class= "btn btn-default glyphicon glyphicon-search" style="font-style: italic" type="submit"></button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Patient Number</th>

                <th>Dog Breed</th>

                <th>Date Started</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <a href="#">1000-233</a>
                </td>

                <td>Yellow Lab</td>

                <td>10/23/2014</td>
            </tr>

            <tr>
                <td>
                    <a href="#">1000-285</a>
                </td>

                <td>Great Dane</td>

                <td>07/26/2015</td>
            </tr>

            <tr>
                <td>
                    <a href="#">1000-386</a>
                </td>

                <td>Husky</td>

                <td>05/24/2014</td>
            </tr>

            <tr>
                <td>
                    <a href="#">1000-488</a>
                </td>

                <td>Poodle</td>

                <td>07/13/2014</td>
            </tr>

            <tr>
                <td>
                    <a href="#">1000-562</a>
                </td>

                <td>Bulldog</td>

                <td>05/24/2015</td>
            </tr>
        </tbody>
    </table>
</div>
