<!DOCTYPE html>

<html lang="en">
<head>
    <link href=
    "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel=
    "stylesheet">
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src=
    "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Vet Homepage</title>
    <link href="Vet Homepage.css" rel="stylesheet">
</head>

<body>
    <div class="row header">
        <div class="col-md-2 col-sm-4"><img alt="trimlogo" class=
        "img-responsive center-block" src="Logo-Big.png"></div>

        <div class="col-md-8 col-sm-6">
            <h1 class="text-center">Vet Homepage</h1>
        </div>

        <div class="col-md-2 col-sm-2">
            <div class="Logout">
                <button class="btn btn-primary" type="button">Logout</button>
            </div>
        </div>
    </div>

    <h3 class="top-buffer">Choose employee:</h3>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
        type="button">Employee List <span class="caret"></span></button>

        <ul class="dropdown-menu">
            <li>
                <a href="#">Jim Beam</a>
            </li>

            <li>
                <a href="#">Jack Daniels</a>
            </li>

            <li>
                <a href="#">Sam Adams</a>
            </li>
        </ul>
    </div>

    <div class="TableComponents">
        <div class="row heavy-top-buffer">
            <div class="col-md-9 col-sm-8">
                <div class="AddButton">
                    <button class="btn btn-primary" type="button">Add New
                    Patient</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 pull-right">
                <div class="input-group">
                    <input class="form-control" id="srch-term" name="srch-term"
                    placeholder="Search" type="text">

                    <div class="input-group-btn">
                        <button class=
                        "btn btn-default glyphicon glyphicon-search" style=
                        "font-style: italic" type="submit"></button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Patient Number</th>

                    <th>Dog Breed</th>

                    <th>Date Started</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a href="#">1000-233</a>
                    </td>

                    <td>Yellow Lab</td>

                    <td>10/23/2014</td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-285</a>
                    </td>

                    <td>Great Dane</td>

                    <td>07/26/2015</td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-386</a>
                    </td>

                    <td>Husky</td>

                    <td>05/24/2014</td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-488</a>
                    </td>

                    <td>Poodle</td>

                    <td>07/13/2014</td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-562</a>
                    </td>

                    <td>Bulldog</td>

                    <td>05/24/2015</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>