<div data-ng-controller="auxtheraController">

<div class="callList">
    <div class="heading">
	   <h1> Patient Call List </h1>
	</div>

    <div class="container TableComponents heavy-top-buffer">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-5">Patient Number</th>

                    <th class="col-md-3">Vet Visited</th>

                    <th class="col-md-3">Last Contact</th>

                    <th class="col-md-1">Completed</th>
                </tr>
            </thead>
        </table>


    <div class="container TableComponents">
        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="patient in patientCallList">
                    <td class="col-md-5"> {{ patient.patientId }} </td>

                    <td class="col-md-3">>{{ patient.vetId }}</td>

                    <td class="col-md-3"> {{ patient.lastContact }} </td>

                    <td class="col-md-1">><button ng-click="remove(patient)" class="btn btn-primary" type="button">Clear Entry</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>