<div class="callList">
    <div class="heading">
	   <h1> Patient Call List </h1>
	</div>

    <div class="TableComponents heavy-top-buffer">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Patient Number</th>

                    <th>Vet Visited</th>

                    <th>Last Contact</th>

                    <th>Completed</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a href="#">1000-233</a>
                    </td>

                    <td>Vet 1</td>

                    <td>10/23/2014</td>

                    <td><input type="checkbox" name="query_myTextEditBox"></td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-285</a>
                    </td>

                    <td>Vet 2</td>

                    <td>07/26/2015</td>

                    <td><input type="checkbox" name="query_myTextEditBox"></td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-386</a>
                    </td>

                    <td>Vet 3</td>

                    <td>05/24/2014</td>

                    <td><input type="checkbox" name="query_myTextEditBox"></td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-488</a>
                    </td>

                    <td>Vet 2</td>

                    <td>07/13/2014</td>

                    <td><input type="checkbox" name="query_myTextEditBox"></td>
                </tr>

                <tr>
                    <td>
                        <a href="#">1000-562</a>
                    </td>

                    <td>Vet 1</td>

                    <td>05/24/2015</td>

                    <td><input type="checkbox" name="query_myTextEditBox"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>