<div data-ng-controller="auxtheraController" class="auxthera-container" data-ng-init="initFeedback()">
    
    <!-- Page Header -->
    <div class="row info">
       <h1 class="text-center">Feedback</h1>
    </div>

    <!-- Feed threads -->
    <div class="auxthera-body-wrapper">
        <div class="feedbackList" ng-hide="threadActive">
            <div class="container TableSection" ng-show="feedback">
                <h3 class="tableTitle"> Newly Submitted Feedback </h3>
                <table class="table table-bordered">
                    <thead class="tHeading">
                        <tr >
                            <th class="col-md-5 col-sm-5">Practice</th>

                            <th class="col-md-3 col-sm-3">Date Sent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="feedbackRow" ng-repeat="thread in feedback | limitTo: limitVar" ng-click="isActive(); setCurrent(thread)">
                            <td class="col-md-5 col-sm-5"> {{ thread.name }} </td>

                            <td class="col-md-3 col-sm-3"> {{ thread.dateCreated | date : 'MM/dd/yyyy'}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Show more button at bottom of table, shows 5 more -->
            <div class="showMoreButton">
                <button  ng-click="limitVar=limitVar+5" type="button" class="btn btn-default">Show More</button> 
            </div>
        </div>

        <!-- Alternate view showing message -->
        <div class="messageList" ng-show="threadActive">
            <h1 style="color:#1E5687">Feedback sent by <i>{{currThread.name}}</i> submitted {{ currThread.dateCreated | date : 'MM/dd/yyyy'}}:</h1>

            <div class="threadView top-buffer jumbotron">
                <div class="messageText">
                    <p> {{currThread.message}}</p>
                </div>
            </div>

            <div class="returnToList">
                <button ng-click="threadActive = undefined; currThread = {}" type="button" class="btn btn-default btn-lg">Return to Feedback List</button>
            </div>
        </div>
    </div>
</div>