<div data-ng-controller="auxtheraController">

<div class="feedbackPage">
	<div class="heading">
	   <h1> Feedback </h1>
	</div>

	<div class="container newFeedback" ng-repeat="feedback in newFeedbackList">
		<h3> New Feedback </h3>

        <div class="col-md-6">
            <p> {{ feedback.text }} </p>
        </div>

        <div class="col-md-3" "feedbackInfo">
            <p> Feedback recieved from:<br>
                {{ feedback.practice }} <br>
                {{ feedback.dateCreated }}
            </p>
        </div>

        <div class="col-md-3">
            <button ng-click="remove(feedback)" class="btn btn-primary" type="button">Mark as Read</button>
        </div>
    </div>

    <hr>

    <div class="container" "oldFeedback" ng-repeat="feedback in oldFeedbackList | filter: '!hidden' | limit: limitVar">
        <h3> Past Feedback </h3>

        <div class="col-md-6">
            <p> {{ feedback.text}} </p>
        </div>

        <div class="col-md-3" "feedbackInfo">
            <p> Feedback recieved from: <br>
                {{ feedback.practice }} <br>
                {{ feedback.dateRecieved }}
            </p>
        </div>

        <div class="col-md-3">
            <button ng-click="thing.hidden = true" class="btn btn-primary" type="button">Hide</button>
        </div>

        <div class="showMore">
            <h3> <a ng-click="limitVar = array.length"> Show More </a></h3>
        </div>
    </div>
</div>


			


