<!DOCTYPE html>

<html lang="en">
<head>
    <link href=
    "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel=
    "stylesheet">
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src=
    "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Feedback</title>
    <link href="Feedback.css" rel="stylesheet">
</head>

<body>
	<div class="heading">
	   <h1> Feedback </h1>
	</div>

	<div class="container " "newFeedback">
		<h3> New Feedback </h3>
            <div class="col-md-6">
                <textarea rows="10" cols="50">
                    New feedback will appear here.
                </textarea>
            </div>
            <div class="col-md-3" "feedbackInfo">
                <p> Feedback recieved from: <br>
                    Organization #1 <br>
                    10/24/2015
                </p>
            </div>
            <div class="col-md-3">
                <p> Mark as read
                <br>
                <input type="checkbox" name="query_myTextEditBox"></p>
            </div>
    </div>

    <hr>

    <div class="container" "oldFeedback">
        <h3> Past Feedback </h3>
        <div class="col-md-6">
            <textarea rows="10" cols="50">
                Older feedback will appear here.
            </textarea>
            <br><br>
            <textarea rows="10" cols="50">
                Even older feedback will appear here.
            </textarea>
        </div>
        <div class="col-md-3" "feedbackInfo">
            <p> Feedback recieved from: <br>
                    Organization #1 <br>
                    10/24/2015
            </p>
        </div>
        <div class="col-md-3">
            <p> Hide
            <br>
            <input type="checkbox" name="query_myTextEditBox"></p>
        </div>
    </div>

    <div class="showMore">
        <h3> <a href="#"> Show More </a></h3>
    </div>
</body>



			


