<div class="overviewPage">
	<div class="heading">
	   <h1> Overview </h1>
	</div>

	<div class="info heavy-top-buffer">
        <div class="row panel panel-primary panel-body">
        	<div class="col-md-6">
        		<p> Number of patients currently enrolled: </p>
        	</div>
        	<div class="col-md-6">
        		<p> Number of completed patients: </p>
        	</div>
        </div>

        <div class="row top-buffer panel panel-primary panel-body">
        	<div class="col-md-6">
        		<p> Number of practices currently participating: </p>
        	</div>
        	<div class="col-md-6">
        		<p> Number of patients with no activity in the past four weeks: </p>
        	</div>
        </div>

        <div class="top-buffer panel panel-primary panel-body">
        	<p style="text-align: center"> Average amount of weight loss for all dogs in the program: <p>
        </div>
    </div>
</div>




			


