<div class="overviewPage">
	<div class="heading">
	   <h1> AuxThera Overview </h1>
	</div>

	<div class="row info heavy-buffer">
    	<div class="col-md-6 col-sm-6 panel panel-primary panel-body">
    		<h3> Current number of dogs in the program: 1050</h3>
    		<h3 class="top-buffer">Number of dogs who have completed the program: 320</h3>
    		<h3 class="top-buffer">Average amount of weight lost in kg: 5.5kg</h3>
    	</div>
    	<div class="col-md-6 col-sm-6 panel panel-primary panel-body">
    		<h3> Number of practices partipating in the program: 200</h3>
    		<h3 class="top-buffer">Vets in 31/50 states</h3>
    	</div>
    </div>
</div>



			


