<div data-ng-controller="auxtheraController">

<div class="updatePage">
    <div class="heading">
       <h1> Auxthera Updates </h1>
    </div>

    <div class="row feedElement heavy-top-buffer panel panel-primary" ng-repeat="update from updateList">
        <div class="panel-body">
            <div class="col-md-4 foodInformation">
                <p> {{ update.foodName}} </p>
                <p> {{update.foodBrand}} </p>
                <p> {{update.calories}} calories per serving </p>
            </div>
            <div class="col-md-4 vetInformation">
                <p> Submitted by: {{update.practice}} </p>
                <p> From patient: {{update.patient}} </p>
            </div>
            <div class="col-md-2 requiredAction">
                <p> Click to clear entry </p>
                <button ng-click="remove(update)"type="button" class="btn btn-default">Clear</button> 
            </div>
        </div>
    </div>
