<div data-ng-controller="practicesController" data-ng-init="getPractice()">
    <div class="row">
     
    <img src="modules/core/img/brand/trimauxil-logo-horizontal.svg" class="vetHomeLogoImg">
             <a href="/api/auth/signout" target ="_self">
                <button class="btn btn-primary pull-right" type="button">
                    Logout
                </button>    
            </a>   
    </div>

    <div class="row">
        <h1 class="text-center">[PRACTICE]'s Active Patient List</h1>
    </div>

    <div class="TableComponents">
        <div class="row heavy-top-buffer">
            <div class="col-md-3 col-sm-4 pull-right">
                <div class="input-group">
                    <!-- Search input -->
                    <input type="text" data-ng-model="search" ng-change="searchChange()" default="''">

                    <!-- Clear search input -->
                    <button ng-click="search=''; searchChange()">X</button>
                </div>
            </div>
        </div>

        <br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-xs-1">Patient ID</th>

                    <th class="col-xs-2">Patient Name</th>

                    <th class="col-xs-2">Client Name</th>

                    <th class="col-xs-2">Client Phone Number</th>

                    <th class="col-xs-2">Date Started</th>

                    <th class="col-xs-2">Next Appointment</th>

                    <th class="col-xs-2">Call or Visit</th>
                </tr>
            </thead>
        </table>

        <div class="tableContainer tableContainerBottomBorder mCustomScrollbar" data-mcs-theme="dark-3">
            <table class="table table-bordered patientListTable">
                <tbody>

                    <tr ng-repeat="patient in activePatientsFiltered" ng-click="selectPatient(patient)" class="patientTableRow">
                        
                        <td class="col-xs-1"> {{ patient.patientId }} </td>

                        <td class="col-xs-2"> {{ patient.firstName }} </td>

                        <td class="col-xs-2"> Fake, Name <!-- {{ patient.petOwner.lastName }}, {{ patient.petOwner.firstName }} --> </td>

                        <td class="col-xs-2"> (012) 345-6789 <!-- {{ patient.petOwner.phoneNumber }} --> </td>
                        
                        <td class="col-xs-2"> {{ patient.dateCreated | dateFormat }} </td>

                        <td class="col-xs-2"> {{ patient.dateCreated | dateFormat }} </td>

                        <td class="col-xs-2"> Visit <!-- {{ patient.X }} --> </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="row newPatientButton">
            <div class="col-md-9 col-sm-8">
                <div class="AddButton">
                    <button ng-click="newPatientClick()" class="btn btn-primary" type="button">Add New
                    Patient</button>
                </div>
            </div>
        </div>

    </div>

</div>