 <div data-ng-controller="practicesController">
 
    <div class="row">        
        <img src="modules/core/img/brand/trimauxil-logo-horizontal.svg" class="vetHomeLogoImg">
             <a href="/api/auth/signout" target ="_self">
                <button class="btn btn-primary pull-right" type="button">
                    Logout
                </button>    
            </a>   
    </div>

    <div class="row">
        <h1 class="text-center">Patient List</h1>
    </div>

    <div class="TableComponents">
        <div class="row heavy-top-buffer">
            <div class="col-md-9 col-sm-8">
                <div class="AddButton">
                    <button ng-click="newPatientClick()" class="btn btn-primary" type="button">Add New
                    Patient</button>
                    <button ng-click="getPractice()" class="btn btn-primary" type="button">GET PRACTICE</button>
                    <button ui-sref="overview" class="btn btn-primary" type="button">Go to Overview</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 pull-right">
                <div class="input-group">
                    <input class="form-control" id="srch-term" name="srch-term"
                    placeholder="Search" type="text">

                    <div class="input-group-btn">
                        <button class= "btn btn-default glyphicon glyphicon-search" style="font-style: italic" type="submit"></button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Patient Number</th>

                    <th>Patient Name</th>

                    <th>Dog Breed</th>

                    <th>Date Started</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="patient in patients" ng-click="selectPatient(patient)" class="patientTableRow">
                    
                    <td> {{ patient.patientId }} </td>

                    <td> {{ patient.firstName }} </td>

                    <td> {{ patient.breed }} </td>

                    <td> {{ patient.dateCreated | date:'MM/dd/yyyy'}} </td>
                    
                </tr>

            </tbody>
        </table>
    </div>
</div>
