.homepageBody {
    font-family: "Trajan Pro";
    color: #1E5687;
    width: 90%;
    margin: auto;
}

.header {
    background-color: #F4F4F4
}

.Logout {
    padding-top: 30px;
    float: right
}

.form-control {
    background-color: #FAFAFA
}

.TableComponents {
    width: 95%;
    margin: 0 auto
}

.top-buffer {
    margin-top: 40px
}

.heavy-top-buffer {
    margin-top: 40px
}

.btn-primary {
    background-color: #1E5687;
    opacity: .8;
}

.btn-default {
    background-color: #FAFAFA
}

.patientTableRow:hover {
    background-color:#F4F4F4;
}

.vetHomeLogoImg {
    width: 230px;
    /*margin-top: -15px;
    margin-left: 17px;*/
}

.patientListTable {
    margin: 0;
    padding: 0;
}

.tableContainer {
    overflow: auto;
    height: 250px;
    margin: 0;
    padding: 0;
    /*margin-top: -21px;*/
}

.headerTableContainer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tableContainerBottomBorder {
    border-bottom: 1px solid #DDDDDD;
}

/*
.patientListTableHead {
    white-space: nowrap;
}
*/

.newPatientButton {
    margin-top: 15px;
    margin-bottom: 10px;
}

.paddedRow {
    padding: 10px;
}

.notSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centerText {
    text-align: center;
}

.hiddenTable {
    opacity: 0;
}

.headerTable {  
    border: 1px solid #DDDDDD;
    border-bottom: none;
}

.column15 {
    width: 15% !important;
}

.column10 {
    width: 10% !important;
}