/* Presented in order of appearance on overview.html */

.progressPage {
	font-family: Open Sans, Gadget, sans-serif;
	padding-left: 350px;
	margin-right: 20px;
}

.boxOne {
	background-color:#F4F4F4;
	color:#1A4B68;
	padding: 10px;
	height: 275px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.row {
	position: relative;
}

.imgVertical {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -20%);
	height: 200px;
}

.floatLeft {
	float: left;
}

.floatLeftPadded {
	float: left;
	padding-right:calc(50% - 200px);
}

.floatLeftNoPad {
	float: left;
	padding-left: 0;
}

.canvas {
	margin-right: 50px;
}

.boxTwo {
	background-color:#F4F4F4;
	color:#1A4B68;
	padding: 15px;
	height: 200px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.floatRight {
	float: right;
}
